TravelPartner-war/web/WEB-INF/wsdl/localhost_8080/GDSLoginBean/GDSLoginBean.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://GDS.SessionBean/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://GDS.SessionBean/" name="GDSLoginBean">
<types>
<xsd:schema>
<xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="http://localhost:8080/GDSLoginBean/GDSLoginBean?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://GDS.SessionBean/" schemaLocation="http://localhost:8080/GDSLoginBean/GDSLoginBean?xsd=2"/>
</xsd:schema>
</types>
<message name="login">
<part name="parameters" element="tns:login"/>
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse"/>
</message>
<message name="publishFlight">
<part name="parameters" element="tns:publishFlight"/>
</message>
<message name="publishFlightResponse">
<part name="parameters" element="tns:publishFlightResponse"/>
</message>
<message name="retrieveAccInfo">
<part name="parameters" element="tns:retrieveAccInfo"/>
</message>
<message name="retrieveAccInfoResponse">
<part name="parameters" element="tns:retrieveAccInfoResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<portType name="GDSLoginBean">
<operation name="login">
<input wsam:Action="http://GDS.SessionBean/GDSLoginBean/loginRequest" message="tns:login"/>
<output wsam:Action="http://GDS.SessionBean/GDSLoginBean/loginResponse" message="tns:loginResponse"/>
</operation>
<operation name="publishFlight">
<input wsam:Action="http://GDS.SessionBean/GDSLoginBean/publishFlightRequest" message="tns:publishFlight"/>
<output wsam:Action="http://GDS.SessionBean/GDSLoginBean/publishFlightResponse" message="tns:publishFlightResponse"/>
</operation>
<operation name="retrieveAccInfo">
<input wsam:Action="http://GDS.SessionBean/GDSLoginBean/retrieveAccInfoRequest" message="tns:retrieveAccInfo"/>
<output wsam:Action="http://GDS.SessionBean/GDSLoginBean/retrieveAccInfoResponse" message="tns:retrieveAccInfoResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://GDS.SessionBean/GDSLoginBean/retrieveAccInfo/Fault/Exception"/>
</operation>
</portType>
<binding name="GDSLoginBeanPortBinding" type="tns:GDSLoginBean">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="publishFlight">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retrieveAccInfo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
</binding>
<service name="GDSLoginBean">
<port name="GDSLoginBeanPort" binding="tns:GDSLoginBeanPortBinding">
<soap:address location="http://localhost:8080/GDSLoginBean/GDSLoginBean"/>
</port>
</service>
</definitions>